%------------------------------------------------------------------------------
%
%	ToolInfo file for StP/Core 2.4-based Aonix products
%	Copyright (c) Aonix 1984-1997
%
%	@(#)ToolInfo.W32NTX86
%
%------------------------------------------------------------------------------
% Put you phone number instead of xxx
%msgd_port=30xxx
%msgd_host=localhost

% Uncomment the (suitably-edited) next line to point StP to a specific
% directory for the projects to open, e.g.:
%projdir=C:/StP-Projects
%
% Uncomment the next line if you use a particular system heavily, and
% would prefer that StP opened it every time you started up.
%system=MySystem

%
% Enable Validator
Validator=True

use_doors_integration=True

%STP_SERVER=<server_name>
stp_doc_path=c:/StP/Documentation

% Uncomment the next line if you want to use A4/A3 and cm values for papersizes
% use_us_papersizes=False

% The Reverse Engineering -> Source navigation can use a non-default editor.
% i.e.:
%source_editor=MSDev
%
%	This indicates that viewer should be invoked when viewing Frame files.
%	Specify full path to FrameViewer or FrameMaker executable.
%
%maker=c:/Program Files/Adobe/FrameMaker5/frame.exe
%maker=c:/Program Files/Adobe/FViewer5/frame.exe
%
%	File path used for StP/Booch
%
booch_stp_file_path=templates/booch;templates/im;templates/oo;templates/t;templates/ct;templates;templates/omtcc
%
%	File path used for StP/OMT-Booch
%
omt_booch_stp_file_path=templates/omt_booch;templates/omt;templates/booch;templates/im;templates/oo;templates/t;templates/ct;templates;templates/omtcc
%
%	File path used for StP/OMT
%
omt_stp_file_path=templates/omt;templates/im;templates/oo;templates/t;templates/ct;templates;templates/omtcc
%
%	File path used for StP/Unified (StP/UML)
%
uml_stp_file_path=templates/uml;templates/t;templates/ct;templates
%
%	File path used for StP/T
%
t_stp_file_path=templates/t;templates/ct;templates;templates/omt
%
%	File path used for StP/IM
%
im_stp_file_path=templates/im;templates/t;templates/ct;templates
%
%	File path used for StP/SE
%
se_stp_file_path=templates/se;templates/t;templates/im;templates/ct;templates
%
%	File path used for StP/SE with Gane/Sarson DFE support
%
gs_stp_file_path=templates/se/gs;templates/se;templates/im;templates/ct;templates;templates/t
%
%	File path used for StP/SE with StP/IM support
%
se_im_stp_file_path=templates/se_im;templates/se;templates/t;templates/im;templates/ct;templates
%
%	File path used for StP/SE with Gane/Sarson DFE support and StP/IM
%
gs_im_stp_file_path=templates/se_im;templates/se/gs;templates/se;templates/im;templates/t;templates/ct;templates
%
%	File path used for StP/OMT with StP/IM support
%
omt_im_stp_file_path=templates/omt_im;templates/omt;templates/oo;templates/im;templates/ct;templates/t;templates
%
%	File path used for StP/UML with StP/IM support
%
uml_im_stp_file_path=templates/uml_im;templates/uml;templates/im;templates/ct;templates/t;templates
%
%	File path used for Validator support
%
val_stp_file_path=templates/val;templates/uml;templates/t;templates/ct;templates
%
%	File path used for IEEE-12207 support
%
ieee_12207_stp_file_path=templates/thirdpartytools;templates/lifecycle;templates/ieee_12207;templates/uml;templates/val;templates/t;templates/ct;templates
%
%	File path used for DO-178B support
%
do_178b_stp_file_path=templates/thirdpartytools;templates/lifecycle;templates/do_178b;templates/uml;templates/val;templates/t;templates/ct;templates
%
%
%	File path used all StP products
%
all_stp_file_path=templates/uml;templates/omt_booch;templates/omt;templates/booch;templates/im;templates/oo;templates/se;templates/se/gs;templates/se_im;templates/omt_im;templates/uml_im;templates/ct;templates;templates/omtcc;templates/t
