%------------------------------------------------------------------------------
%
%ToolInfo file for StP/Core 7.0-based Aonix products
%Copyright (c) Aonix 1984-1998
%
%@(#)ToolInfo.W32NTX86
%
%------------------------------------------------------------------------------

% Development Processes
   SoftwareRequirementsProcess=True
   SoftwareDesignProcess=True
   SoftwareCodingProcess=True
   IntegrationProcess=True

% Modeling Categories
   SysRqtsModeler=True
   SwRqtsModeler=True
   DeploymentModeler=True
   ComponentModeler=True
   ClassModeler=True

% Built-In Tools
   RqtTable=True

% Third-Party Tools
   TestDirector=True
   WinRunner=True
   SysDOORS=True
   SwDOORS=True
   SysDocExpress=True
   SwDocExpress=True
   Segue=True

% Programming Tools
   JavaCode=True
   CPPCode=True
   AdaCode=True
   IDLCode=True

% Operation Profiles
   PeriodOfOperation=1 hour

% Enable Validator
   validator=True


ToolInfo=ToolInfo.W32NTX86

