P.HeadingTOC1
{
    FONT: bold 12pt 'Times New Roman';
    MARGIN: 14pt 0in 0pt 0.66in;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none;
    TEXT-INDENT: 0.66in;
    VERTICAL-ALIGN: baseline
}
P.Step1
{
    FONT: 12pt 'Times New Roman';
    MARGIN: 6pt 0in 0pt 0.19in;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none;
    TEXT-INDENT: 0in;
    VERTICAL-ALIGN: baseline
}
P.HeadingTOC2
{
    FONT: 11pt 'Times New Roman';
    MARGIN: 4pt 0in 2pt 0.66in;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none;
    TEXT-INDENT: 0.66in;
    VERTICAL-ALIGN: baseline
}
P.HeadingTOC3
{
    FONT: 10pt 'Times New Roman';
    MARGIN: 0pt 0in 0pt 0.66in;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none;
    TEXT-INDENT: 0.66in;
    VERTICAL-ALIGN: baseline
}

P.Figure
{
    FONT: normal normal bold 10pt 'Times New Roman';
    TEXT-ALIGN: left;
    TEXT-INDENT: 0.19in;
    margin-left: 0.19in;
    margin-right: 0in;
    margin-top: 12pt;
    margin-bottom: 16pt;
    TEXT-DECORATION: none;
    VERTICAL-ALIGN: baseline
}

P.Step
{
    FONT: 12pt 'Times New Roman';
    MARGIN: 6pt 0in 0pt 0.19in;
    TEXT-ALIGN: left;
    TEXT-INDENT: 
    margin-left: 
    margin-right: 
    margin-top: 
    margin-bottom: 
    TEXT-DECORATION: none;
    TEXT-INDENT: 0in;
    VERTICAL-ALIGN: baseline
}
P.Subtitle
{
    FONT: bold 24pt 'Times New Roman';
    MARGIN: 0pt 0in;
    TEXT-ALIGN: left;
    TEXT-INDENT: 
    margin-left: 
    margin-right: 
    margin-top: 
    margin-bottom: 
    TEXT-DECORATION: none;
    TEXT-INDENT: 0in;
    VERTICAL-ALIGN: baseline
}
P.TableTitle
{
    FONT: normal normal bold 10pt 'Times New Roman';
    TEXT-ALIGN: left;
    TEXT-INDENT: 0.19in; 
    margin-left: 0.19in; 
    margin-right: 0in; 
    margin-top: 0pt; 
    margin-bottom: 0pt; 
    TEXT-DECORATION: none;
    VERTICAL-ALIGN: baseline
}
SPAN.Bold
{
    FONT: bold 10pt 'Times New Roman';
    TEXT-DECORATION: none;
    VERTICAL-ALIGN: baseline
}
SPAN.Bold11
{
    FONT: bold 11pt 'Times New Roman';
    TEXT-DECORATION: none;
    VERTICAL-ALIGN: baseline
}
SPAN.Bold12
{
    FONT: bold 12pt 'Times New Roman';
    TEXT-DECORATION: none;
    VERTICAL-ALIGN: baseline
}
SPAN.BoldItalic
{
    FONT: bold oblique 11pt 'Times New Roman';
    TEXT-DECORATION: none;
    VERTICAL-ALIGN: baseline
}
SPAN.BoldUnderline
{
    FONT: bold 10pt 'Times New Roman';
    TEXT-DECORATION: underline;
    VERTICAL-ALIGN: baseline
}
SPAN.ExtraSmall
{
    FONT: 9pt 'Times New Roman';
    TEXT-DECORATION: none;
    VERTICAL-ALIGN: baseline
}
SPAN.Italic
{
    FONT: oblique 12pt 'Times New Roman';
    TEXT-DECORATION: none;
    VERTICAL-ALIGN: baseline
}
SPAN.Standard
{
    FONT: 12pt 'Times New Roman';
    TEXT-DECORATION: none;
    VERTICAL-ALIGN: baseline
}
SPAN.Underline
{
    FONT: 12pt 'Times New Roman';
    TEXT-DECORATION: underline;
    VERTICAL-ALIGN: baseline
}
P.TitleMain
{
    FONT: bold 18pt 'Times New Roman';
    TEXT-ALIGN: center;
    TEXT-INDENT: 0in; 
    margin-left: 0in; 
    margin-right: 0in; 
    margin-top: 40pt; 
    margin-bottom: 18pt; 
    TEXT-DECORATION: none;
    VERTICAL-ALIGN: baseline
}
P.TableHeaderCell
{
    FONT-FAMILY: Times New Roman;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: center;
    TEXT-INDENT: 0in; 
    margin-left: 0in; 
    margin-right: 0in; 
    margin-top: 2pt; 
    margin-bottom: 2pt; 
    TEXT-DECORATION: none;
}
P.TableBodyCell
{
    FONT-FAMILY: Times New Roman;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: normal;
    TEXT-ALIGN: center;
    TEXT-INDENT:0in; 
    margin-left: 0in; 
    margin-right: 0in; 
    margin-top: 2pt; 
    margin-bottom: 2pt; 
    TEXT-DECORATION: none
}
P.TitleDocInfo
{
    FONT-FAMILY: Times New Roman;
    FONT-SIZE: 14pt;
    FONT-WEIGHT: normal;
    TEXT-ALIGN: center;
    TEXT-INDENT: 0in; 
    margin-left: 0in; 
    margin-right: 0in; 
    margin-top: 18pt; 
    margin-bottom: 18pt; 
    TEXT-DECORATION: none
}
P.TitlePrepInfo
{
    FONT-FAMILY: Times New Roman;
    FONT-SIZE: 14pt;
    FONT-WEIGHT: normal;
    TEXT-ALIGN: center;
    TEXT-INDENT: 0in; 
    margin-left: 0in; 
    margin-right: 0in; 
    margin-top: 40pt; 
    margin-bottom: 60pt; 
}
P.TitleSignatures
{
    FONT-FAMILY: Times New Roman;
    FONT-SIZE: 14pt;
    FONT-WEIGHT: normal;
    TEXT-ALIGN: left;
    TEXT-INDENT: 0.25in; 
    margin-left: 0.25in; 
    margin-right: 0in; 
    margin-top: 24pt; 
    margin-bottom: 18pt; 
    TEXT-DECORATION: none;
}
P.SubSectionBody
{
    FONT-FAMILY: Times New Roman;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: normal;
    TEXT-ALIGN: left;
    TEXT-INDENT: 0in; 
    margin-left: 0in;
    margin-right: 0in;
    margin-top: 12pt;
    margin-bottom: 6pt;
    TEXT-DECORATION: none;
}
P.SubSectionList
{
    FONT-FAMILY: Times New Roman;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: normal;
    LIST-STYLE: decimal;
    TEXT-ALIGN: left;
    TEXT-INDENT: 0.5in; 
    margin-left: 0.75in;
    margin-right: 0in;
    margin-top: 4pt;
    margin-bottom: 4pt;
}
P.SubSectionTitle
{
    FONT-FAMILY: Times New Roman;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: left;
    TEXT-INDENT: 0in; 
    margin-left: 0in;
    margin-right: 0in;
    margin-top: 12pt;
    margin-bottom: 6pt;
}
P.AppendixL1Start
{
    FONT: normal normal bold 16pt 'Times New Roman';
    TEXT-ALIGN: left;
    TEXT-INDENT: 0in; 
    margin-left: 0in;
    margin-right: 0in;
    margin-top: 144pt;
    margin-bottom: 18pt;
    TEXT-DECORATION: none;
}
P.AppendixL1
{
    FONT: normal normal bold 16pt 'Times New Roman';
    TEXT-ALIGN: left;
    TEXT-INDENT: 0in; 
    margin-left: 0in;
    margin-right: 0in;
    margin-top: 24pt;
    margin-bottom: 8pt;
    TEXT-DECORATION: none;
}
P.AppendixL2
{
    FONT: normal normal bold 14pt 'Times New Roman';
    TEXT-ALIGN: left;
    TEXT-INDENT: 0in; 
    margin-left: 0in;
    margin-right: 0in;
    margin-top: 24pt;
    margin-bottom: 8pt;
    TEXT-DECORATION: none;
}
P.AlphaListStart
{
    FONT: normal normal normal 12pt 'Times New Roman';
    TEXT-ALIGN: left;
    TEXT-INDENT: 0.5in; 
    margin-left: 0.75in;
    margin-right: 0in;
    margin-top: 12pt;
    margin-bottom: 6pt;
    TEXT-DECORATION: none;
}
P.AlphaList
{
    FONT: normal normal normal 12pt 'Times New Roman';
    TEXT-ALIGN: left;
    TEXT-INDENT: 0.5in; 
    margin-left: 0.75in;
    margin-right: 0in;
    margin-top: 6pt;
    margin-bottom: 6pt;
    TEXT-DECORATION: none;
}
P.IndentBody1
{
    FONT: normal normal normal 12pt 'Times New Roman';
    TEXT-ALIGN: left;
    TEXT-INDENT: 0.5in; 
    margin-left: 0.5in;
    margin-right: 0in;
    margin-top: 12pt;
    margin-bottom: 6pt;
    TEXT-DECORATION: none;
}
P.Section
{
    FONT: normal normal normal 12pt 'Times New Roman';
    TEXT-ALIGN: left;
    TEXT-INDENT: 0in; 
    margin-left: 0in;
    margin-right: 0in;
    margin-top: 12pt;
    margin-bottom: 6pt;
    TEXT-DECORATION: none;
}
P.Flows
{
    FONT: normal normal normal 12pt 'Times New Roman';
    TEXT-ALIGN: left;
    TEXT-INDENT: 0in; 
    margin-left: 0.25in;
    margin-right: 0in;
    margin-top: 12pt;
    margin-bottom: 6pt;
    TEXT-DECORATION: none;
}

P.Heading2
{
    FONT: normal normal bold 14pt 'Times New Roman';
    TEXT-ALIGN: left;
    TEXT-INDENT: 0in; 
    margin-left: 0in;
    margin-right: 0in;
    margin-top: 18pt;
    margin-bottom: 0pt;
    TEXT-DECORATION: none;
    VERTICAL-ALIGN: baseline
}
P.Heading1
{
    FONT: normal normal bold 16pt 'Times New Roman';
    TEXT-ALIGN: left;
    TEXT-INDENT: 0in; 
    margin-left: 0in;
    margin-right: 0in;
    margin-top: 144pt;
    margin-bottom: 8pt;
    TEXT-DECORATION: none;
    VERTICAL-ALIGN: baseline
}
P.Heading4
{
    FONT: normal normal bold 12pt 'Times New Roman';
    TEXT-ALIGN: left;
    TEXT-INDENT: 0in; 
    margin-left: 0in; 
    margin-right: 0in;
    margin-top: 18pt; 
    margin-bottom: 0pt;
    TEXT-DECORATION: none;
    VERTICAL-ALIGN: baseline
}
P.Heading3
{
    FONT: normal normal bold 12pt 'Times New Roman';
    TEXT-ALIGN: left;
    TEXT-INDENT: 0in; 
    margin-left: 0in;
    margin-right: 0in;
    margin-top: 18pt;
    margin-bottom: 0pt;
    TEXT-DECORATION: none;
    VERTICAL-ALIGN: baseline
}
