//
//      sccsid[] = %W% %Y% %D%
//      StP/UML
//      Confidential property of Aonix
//      Copyright (c) 1997
//      All rights reserved
//

// JED - sets the numbers of the symbols
NodeSymbol 20001 Class {}
// ECR2653
NodeSymbol 22100 Ellipsis {}
// ECR2653
NodeSymbol 20002 Package {}
NodeSymbol 20003 Attribute {}
NodeSymbol 20004 Operation {}
NodeSymbol 20006 ParameterizedClass {}
NodeSymbol 20013 PackageName {}
NodeSymbol 20014 ClassName {}
NodeSymbol 20007 InstantiatedClass {}
NodeSymbol 20011 Comment {}
NodeSymbol 20012 Vertex {}
NodeSymbol 20015 Object {}
NodeSymbol 20017 InstanceAttribute {}
NodeSymbol 20019 Interface {}
NodeSymbol 20021 Note {}
NodeSymbol 20023 NaryAssociationHub {}
LinkSymbol 21001 Generalization {}
LinkSymbol 21002 Association {}
// ECR 3856 - added Aggregation
LinkSymbol 21003 Aggregation {}
LinkSymbol 21004 Dependency {}
LinkSymbol 21005 Refines {}
LinkSymbol 21006 Implements {}
LinkSymbol 21007 NavigableAssociation {} // ECR 7480
LinkSymbol 21014 ObjectInstantiation {}
LinkSymbol 21015 ObjectAssociation {}
LinkSymbol 21019 AssociationOr {}
LinkSymbol 21020 Contains {}
LinkSymbol 21022 DummyContainLink {}
LinkSymbol 21023 AssociationClassLink {}
LinkSymbol 21024 NaryAssociationRole {}
//ECR5662
CntxSymbol CommentAnchor {}
CntxSymbol 22005 AssociationAnchor {}
CntxSymbol 22006 RelLabelFrom {}
CntxSymbol 22007 RelLabelTo {}

// put the typesets here also because this file is depended on by many
// things, yet it depends on nothing. Because typesets are that way,
// here they are.

TypeSet PackageContainsToTypeset
{
	Class
	Package
	ParameterizedClass
	InstantiatedClass
	ClassName
	PackageName
	// ECR4314
	// JED's comment is somehow confusing, you can map an interface just by
	// putting a normal class symbol into the package, since both, interface
	// and class map to the same symbol we cannot find any difference in the repository.
	Interface
	// JED - Interface is NOT in this list because we don't want to map a
	// contains link to it.
}

TypeSet ClassContainsToTypeset
{
	Attribute
	Operation
}

TypeSet ClassContainsFromTypeset
{
    Class
    ParameterizedClass
}

TypeSet AssociationFromTypeset
{
	Class
	ClassName
// ECR 4663 begin add Instanciated Class
    InstantiatedClass
// ECR 4663 end add
    ParameterizedClass // ECR 7533
}

TypeSet AssociationToTypeset
{
	Class
	ClassName
// ECR 4663 begin add Instanciated Class
    InstantiatedClass
// ECR 4663 end add
    ParameterizedClass // ECR 7533
}

TypeSet GeneralizationFromTypeset
{
	Class
// ECR2653
	Ellipsis
// ECR2653
	ClassName
	ParameterizedClass
}

TypeSet GeneralizationToTypeset
{
	Class
	ClassName
	InstantiatedClass
}

TypeSet DependencyFromTypeset
{
	Class
	ClassName
	ParameterizedClass
	Package
	PackageName
	Operation	// JED - to allow for friend operations
	Attribute       // ECR 5959
}

TypeSet DependencyToTypeset
{
	Class
	ClassName
	ParameterizedClass
	InstantiatedClass
	Interface
	Package
	PackageName
	Attribute	// ECR 5959
	Operation   // ECR 6426
}

// Special subset just for InstantiatedClasses
TypeSet InstantiatedClassDependencyToTypeset
{
	Class
	ClassName
	InstantiatedClass
	ParameterizedClass
}

// TypeSet NotelinkToTypeset is now defined with rest in common note vertex file - Deano
// Now it's AllNoteableNodeTypes
TypeSet AllNoteableNodeTypes
{
	Class
	ClassName
	Package
	PackageName
	Attribute
	Operation
	ParameterizedClass
	InstantiatedClass
	Object
	InstanceAttribute
	Interface
	CommentAnchor
	NaryAssociationHub // ECR 4494, all following
	Ellipsis
	LabelTypes
	RelLabelFrom
	RelLabelTo
}

TypeSet RefinesFromTypeset
{
// ECR 7270 begin
//	Class
//	ClassName
// ECR 7270 end
	ParameterizedClass
	InstantiatedClass
}

TypeSet RefinesToTypeset
{
	ParameterizedClass
}

TypeSet ObjectInstantiationToTypeset
{
	Class
	ClassName
	InstantiatedClass
}

TypeSet ImplementsFromTypeset
{
	Class
	ClassName
	ParameterizedClass
	Package // ECR 6595
}

TypeSet ImplementsToTypeset
{
	Interface
	Class // ECR 6241, check for interface stereotype is done in syntax check !
}

TypeSet LinkReplaceTypeset
{
	Generalization
	Association
        // ECR 3856 - added Aggregation
        Aggregation
        NavigableAssociation // ECR 7480
	Dependency
	Refines
	Implements
}

// ECR 7544 ->>
TypeSet AssociationLinkReplaceTypeset
{
	Generalization
	Association
	Dependency
	Refines
	Implements
}
// ECR 7544 <--

TypeSet AllClassTypesWithMarks
{
	Class
	ClassName
	ParameterizedClass
        InstantiatedClass
}

TypeSet AllClassTypes
{
        // Note that InstantiatedClass is *not* included here because
        // it's mapped differently
        Class
        ClassName
        ParameterizedClass
        Interface
}

TypeSet AllPackageTypes
{
	Package
	PackageName
}

TypeSet AllClassSymbolsThatCanBeInAPackage
{
	Class
	ClassName
	ParameterizedClass
	InstantiatedClass
}

// SPR 4052 - Model Management
// used for Model Management to have one common display mark
TypeSet AllLockableNodeTypes
{
	Class
	Package
	ParameterizedClass
	InstantiatedClass
	Object
	Interface
	NaryAssociationHub
//	Attribute
//	Operation
//	InstanceAttribute
}

// JED - this is one of the hacks in the core
TypeSet BachLabelLinks
{
	Association
        // ECR 3856 added Aggregation
        Aggregation
        NavigableAssociation // ECR 7480
	// Dependency
	NaryAssociationRole
	ObjectAssociation
}

TypeSet BachLabelLinks1
{
	NaryAssociationRole
}

TypeSet BachLabelLinks2
{
	Association
        // ECR 3856 added Aggregation
	Aggregation
        NavigableAssociation // ECR 7480
	ObjectAssociation
	// Dependency
}

TypeSet AssociationLinks
{
	Association
        // ECR 3856 - added Aggregation
        Aggregation
        NavigableAssociation // ECR 7480
	NaryAssociationRole
}

TypeSet LabelTypes
{
	RelLabelFrom
	RelLabelTo
}

TypeSet CanHaveAssocClass
{
	Association
        // ECR 3856 - added Aggregation
        Aggregation
        NavigableAssociation // ECR 7480
	NaryAssociationHub
}

TypeSet AllLinkSymbols
{
	Generalization
	Association
        // ECR 3856 - added Aggregation
        Aggregation
        NavigableAssociation // ECR 7480
	Dependency
	Refines
	Implements
	NoteLink
	ObjectInstantiation
	ObjectAssociation
	AssociationOr
	Contains
	DummyContainLink
	AssociationClassLink
	NaryAssociationRole
}

NodeSymbol Vertex
{
   { ReplaceSet ( None ) }
   { Cardinality { Min 1 } { InLinks AllLinkSymbols } }
   { Cardinality { Min 1 } { OutLinks AllLinkSymbols } }
}

