P.Heading1 {
    font: normal normal Bold 18.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 0.0in;
    margin-right: 0.0in;
    margin-top: 24.0pt;
    margin-bottom: 8.0pt;
}

P.HeadingTOC1 {
    font: normal normal Bold 12.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.66535in;
    margin-left: 0.66535in;
    margin-right: 0.0in;
    margin-top: 14.0pt;
    margin-bottom: 0.0pt;
}

P.Step1 {
    font: normal normal normal 12.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 0.1909in;
    margin-right: 0.0in;
    margin-top: 6.0pt;
    margin-bottom: 0.0pt;
}

P.Heading2 {
    font: normal normal Bold 16.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 0.0in;
    margin-right: 0.0in;
    margin-top: 18.0pt;
    margin-bottom: 0.0pt;
}

P.HeadingTOC2 {
    font: normal normal normal 11.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.66535in;
    margin-left: 0.66535in;
    margin-right: 0.0in;
    margin-top: 4.0pt;
    margin-bottom: 2.0pt;
}

P.Heading3 {
    font: normal normal Bold 14.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 0.0in;
    margin-right: 0.0in;
    margin-top: 18.0pt;
    margin-bottom: 0.0pt;
}

P.HeadingTOC3 {
    font: normal normal normal 10.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.66535in;
    margin-left: 0.66535in;
    margin-right: 0.0in;
    margin-top: 0.0pt;
    margin-bottom: 0.0pt;
}

P.Heading4 {
    font: normal normal normal 12.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 0.0in;
    margin-right: 0.0in;
    margin-top: 14.0pt;
    margin-bottom: 6.0pt;
}

P.Author {
    font: normal normal Bold 12.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 0.0in;
    margin-right: 0.0in;
    margin-top: 0.0pt;
    margin-bottom: 0.0pt;
}

P.BMW_Title {
    font: normal normal Bold 7.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 0.0in;
    margin-right: 0.0in;
    margin-top: 0.0pt;
    margin-bottom: 18.0pt;
}

P.Body {
    font: normal normal normal 12.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 0.0in;
    margin-right: 0.0in;
    margin-top: 12.0pt;
    margin-bottom: 6.0pt;
}

P.Body_bold {
    font: normal normal Bold 12.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 0.0in;
    margin-right: 0.0in;
    margin-top: 3.0pt;
    margin-bottom: 0.0pt;
}

P.Body_normal {
    font: normal normal normal 12.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 0.0in;
    margin-right: 0.0in;
    margin-top: 3.0pt;
    margin-bottom: 0.0pt;
}

LI.Bullet {  
    font: normal normal normal 12.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 0.0in;
    margin-right: 0.0in;
    margin-top: 6.0pt;
    margin-bottom: 0.0pt;
}

P.CBullet {
    font: normal normal normal 12.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.1909in;
    margin-left: 0.1909in;
    margin-right: 0.0in;
    margin-top: 3.0pt;
    margin-bottom: 0.0pt;
}

P.CellBody {
    font: normal normal normal 7.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 0.0in;
    margin-right: 0.0in;
    margin-top: 0.0pt;
    margin-bottom: 4.0pt;
}

P.CellHeading {
    font: normal normal Bold 10.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 0.0in;
    margin-right: 0.0in;
    margin-top: 0.0pt;
    margin-bottom: 0.0pt;
}

P.Company {
    font: normal normal normal 12.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 1.7372in;
    margin-right: 0.0in;
    margin-top: 0.0pt;
    margin-bottom: 0.0pt;
}

P.CStep {
    font: normal normal normal 12.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.1909in;
    margin-left: 0.1909in;
    margin-right: 0.0in;
    margin-top: 4.0pt;
    margin-bottom: 0.0pt;
}

P.Division {
    font: normal normal normal 12.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 1.7372in;
    margin-right: 0.0in;
    margin-top: 0.0pt;
    margin-bottom: 12.0pt;
}

P.DocAuthor {
    font: normal normal normal 12.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 1.7372in;
    margin-right: 0.0in;
    margin-top: 60.0pt;
    margin-bottom: 0.0pt;
}

P.DocInfo {
    font: normal normal normal 12.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 0.0in;
    margin-right: 0.0in;
    margin-top: 0.0pt;
    margin-bottom: 12.0pt;
}

P.DocSubTitle {
    font: normal normal normal 12.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 1.7372in;
    margin-right: 0.0in;
    margin-top: 0.0pt;
    margin-bottom: 12.0pt;
}

P.DocTitle {
    font: normal normal normal 12.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 1.7372in;
    margin-right: 0.0in;
    margin-top: 0.0pt;
    margin-bottom: 0.0pt;
}

P.DocVersion {
    font: normal normal normal 12.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 0.0in;
    margin-right: 0.0in;
    margin-top: 0.0pt;
    margin-bottom: 0.0pt;
}

P.Ebene1 {
    font: normal normal normal 12.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 0.19685in;
    margin-right: 0.0in;
    margin-top: 14.0pt;
    margin-bottom: 7.0pt;
}

P.Ebene10 {
    font: normal normal normal 12.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 1.9685in;
    margin-right: 0.0in;
    margin-top: 7.0pt;
    margin-bottom: 7.0pt;
}

P.Ebene2 {
    font: normal normal normal 12.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 0.3937in;
    margin-right: 0.0in;
    margin-top: 7.0pt;
    margin-bottom: 7.0pt;
}

P.Ebene3 {
    font: normal normal normal 12.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 0.59055in;
    margin-right: 0.0in;
    margin-top: 7.0pt;
    margin-bottom: 7.0pt;
}

P.Ebene4 {
    font: normal normal normal 12.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 0.7874in;
    margin-right: 0.0in;
    margin-top: 7.0pt;
    margin-bottom: 7.0pt;
}

P.Ebene5 {
    font: normal normal normal 12.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 0.98425in;
    margin-right: 0.0in;
    margin-top: 7.0pt;
    margin-bottom: 7.0pt;
}

P.Ebene6 {
    font: normal normal normal 12.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 1.1811in;
    margin-right: 0.0in;
    margin-top: 7.0pt;
    margin-bottom: 7.0pt;
}

P.Ebene7 {
    font: normal normal normal 12.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 1.37795in;
    margin-right: 0.0in;
    margin-top: 7.0pt;
    margin-bottom: 7.0pt;
}

P.Ebene8 {
    font: normal normal normal 12.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 1.5748in;
    margin-right: 0.0in;
    margin-top: 7.0pt;
    margin-bottom: 7.0pt;
}

P.Ebene9 {
    font: normal normal normal 12.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 1.77165in;
    margin-right: 0.0in;
    margin-top: 7.0pt;
    margin-bottom: 7.0pt;
}

P.Figure {
    font: normal normal Bold 9.0pt Helvetica;
    text-align: Center;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.1909in;
    margin-left: 0.1909in;
    margin-right: 0.0in;
    margin-top: 12.0pt;
    margin-bottom: 16.0pt;
}

P.Footer {
    font: normal normal normal 10.0pt Helvetica;
    text-align: Justify;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 0.0in;
    margin-right: 0.0in;
    margin-top: 0.0pt;
    margin-bottom: 0.0pt;
}

P.Header {
    font: normal normal normal 10.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 0.0in;
    margin-right: 0.0in;
    margin-top: 6.0pt;
    margin-bottom: 0.0pt;
}

P.Heading1NoIVZ {
    font: normal normal Bold 18.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 0.0in;
    margin-right: 0.0in;
    margin-top: 24.0pt;
    margin-bottom: 8.0pt;
}

P.N1Heading {
    font: normal normal Bold 18.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 0.0in;
    margin-right: 0.0in;
    margin-top: 24.0pt;
    margin-bottom: 8.0pt;
}

P.N1HeadingTOC {
    font: normal normal Bold 12.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 0.66535in;
    margin-right: 0.0in;
    margin-top: 14.0pt;
    margin-bottom: 0.0pt;
}

P.N2Heading {
    font: normal normal Bold 16.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 0.0in;
    margin-right: 0.0in;
    margin-top: 18.0pt;
    margin-bottom: 0.0pt;
}

P.N2HeadingTOC {
    font: normal normal normal 11.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 0.66535in;
    margin-right: 0.0in;
    margin-top: 4.0pt;
    margin-bottom: 2.0pt;
}

P.N3Heading {
    font: normal normal Bold 14.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 0.0in;
    margin-right: 0.0in;
    margin-top: 18.0pt;
    margin-bottom: 0.0pt;
}

P.N3HeadingTOC {
    font: normal normal normal 10.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 0.66535in;
    margin-right: 0.0in;
    margin-top: 0.0pt;
    margin-bottom: 0.0pt;
}

P.Step {
    font: normal normal normal 12.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 0.1909in;
    margin-right: 0.0in;
    margin-top: 6.0pt;
    margin-bottom: 0.0pt;
}

P.Subtitle {
    font: normal normal Bold 24.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 0.0in;
    margin-right: 0.0in;
    margin-top: 0.0pt;
    margin-bottom: 0.0pt;
}

P.TableTitle {
    font: normal normal Bold 10.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.1909in;
    margin-left: 0.1909in;
    margin-right: 0.0in;
    margin-top: 0.0pt;
    margin-bottom: 0.0pt;
}

P.Title {
    font: normal normal Bold 30.0pt Helvetica;
    text-align: Left;
    vertical-align: baseline;
    text-decoration: none;
    text-indent: 0.0in;
    margin-left: 0.0in;
    margin-right: 0.0in;
    margin-top: 30.0pt;
    margin-bottom: 15.0pt;
}

SPAN.Bold {
    font: normal normal Bold 10.0pt Helvetica;
    vertical-align: baseline;
    text-decoration: none;
}

SPAN.Bold11 {
    font: normal normal Bold 11.0pt Helvetica;
    vertical-align: baseline;
    text-decoration: none;
}

SPAN.Bold12 {
    font: normal normal Bold 12.0pt Helvetica;
    vertical-align: baseline;
    text-decoration: none;
}

SPAN.BoldItalic {
    font: Oblique normal Bold 11.0pt Helvetica;
    vertical-align: baseline;
    text-decoration: none;
}

SPAN.BoldUnderline {
    font: normal normal Bold 10.0pt Helvetica;
    vertical-align: baseline;
    text-decoration: underline;
}

SPAN.ExtraSmall {
    font: normal normal normal 9.0pt Helvetica;
    vertical-align: baseline;
    text-decoration: none;
}

SPAN.Italic {
    font: Oblique normal normal 12.0pt Helvetica;
    vertical-align: baseline;
    text-decoration: none;
}

SPAN.Standard {
    font: normal normal normal 12.0pt Helvetica;
    vertical-align: baseline;
    text-decoration: none;
}

SPAN.Underline {
    font: normal normal normal 12.0pt Helvetica;
    vertical-align: baseline;
    text-decoration: underline;
}

